@media screen and (min-width: 1024px) {
    .container {
        width: 960px;
    }

    .nav-links {
        display: initial;
        margin-left: 50px;
    }

    .nav-links a {
        margin-left: 50px;
    }

      .landing-page-btn {
        width: 22%;
        padding: 8px 10px;
        border: 3px solid white;
        font-weight: bold;
        font-size: 18px;
        color: white;
        background: none;
        cursor: pointer;
    }

    .landing-page-text {
        width: 61%;
        height: 33%;

        flex-direction: column;
        justify-content: space-between;
    }
    
    .about .container > h1 {
        margin-bottom: 80px;
    }
    
    .about-employee {
        flex-direction: row;
    }
    
    .about-employee:nth-of-type(even) {
        flex-direction: row-reverse;
        text-align: right;
    }
    
    .about-employee:last-of-type {
        margin-bottom: 0;
    }
    
    .about-employee-img1 {
        margin-right: 50px;
        margin-bottom: 0;
    }
    
    .about-employee-img2 {
        margin-left: 50px;
        margin-bottom: 0;
    }
    
    .about-employee:nth-of-type(even) .about-employee-img2 {
        margin-right: 0;
        margin-left: 50px;
      }

    .offer-box-wrapper {
        width: 720px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .offer-box {
        width: 31%;
        margin-right: 3.5%;
        margin-bottom: 3.5%;
        padding-bottom: 31%;
    }

    .offer-box:nth-of-type(3n) {
        margin-right: 0;
    }

    .offer-box:nth-child(n+4) {
        margin-bottom: 0;
    }

    footer {

        width: 100%;
        background-color: #4E4E4E;
        color: #FFFFFF;
        font-size: 40px;
    }

    footer .container {
        flex-direction: row;
        height: 50px; 
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .footer-container-end-credits {
        font-weight: bold;   
        font-size: 18px;
        margin-bottom: 0;
    }

    .footer-icon {
        margin-left: 10px;
        color: white;
    }
}