* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f1f1f1;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.container {
    width: 92%;
    margin: 0 auto;
}

h1 {
    font-weight: bold;
    font-size: 36px;
  }
  
h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }

.h1-dark {
    color: #152D41;
}

nav {
    height: 50px;
    width: 100%;
    background-color: #4e4e4e;
    font-size: 18px;
    color: #FFFFFF;
    position: fixed;
}

nav .container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100%;
    color: #f1f1f1;
    text-decoration: none;
}

nav .container a {
    color: #f1f1f1;
    text-decoration: none;
}

nav .container .my-name {
    font-weight: bold;
    font-size: 18px;
}

.nav-links {
    display: none;
}

.landing-page {
    padding: 0;
    height: calc(100vh - 50px);
    background-color: blue;
    background-image: url('https://picsum.photos/id/1015/1800/1200');
    background-size: cover;
    background-position: center;
}

.landing-page .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.landing-page-shadow {
    background-color: rgba(0,0,0, .3);
    width: 100%;
    height: 100%;
    color: white;
}

.landing-page-text {
    width: 92%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing-page-btn {
    width: 100px;
    padding: 8px 10px;
    border: 3px solid white;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: none;
    cursor: pointer;
}

.landing-page-btn:hover {
    background-color: white;
    color: black;
}

.kontakt {
    cursor: not-allowed;
}

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .container > h1 {
    margin-bottom: 50px;
}

.about-employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.about-employee-img1 {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    background-image: url('https://www.dropbox.com/s/cvi6hpik8asp7ep/jerry.png?dl=1');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 30px;
}

.about-employee-img2 {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    background-image: url("https://www.dropbox.com/s/kkt17kozxdbjn2c/Tom.png?dl=1");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 30px;
}

.about-employee-text p {
    text-align: justify;
}

.offer {
    background-color: #405D78;
}

.offer h1 {
    color: #FFFFFF;
    margin-bottom: 80px;
}

.offer-box-wrapper {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.offer-box {
    position: relative;
    width: 100%;
    margin-right: 4%;
    margin-bottom: 4%;
    padding-bottom: 100%;
    flex-shrink: 0;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: .5s;
}

.offer-box:hover {
    transform: scale(1.05);
}

.offer-box-content {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
}

.offer-box-content-new {
    font-size: 14px;
}

.offer-box-content-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    left: -15px;
    border-radius: 50%;
    background-color: #E07A64;
}

footer {

    width: 100%;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 21px;

}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
}

.footer-container-end-credits {
    font-weight: bold;   
    font-size: 9px;
    text-align: justify;
    margin-bottom: 12px;
}

.footer-icon {
    color: white;
}

.footer-icon:nth-of-type(2n) {
    margin-left: 30px;
}